
html, body{
    margin: 0px;
    background-color: #2f4f30;
    color: white;
}
.title{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px
}

.card{
    width: 150px;
    position: relative;
    left: 150px;
    margin-left: -75px;
}

#playerCards, #computerCards{
    height: 240px;
}